html, body {
	margin: 0;
	padding: 0;
	position: relative;
}

body {
    color: #000;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;   
    width: auto;
    margin: 0;
    padding: 0;
	overflow: hidden;
}

.transparent{
	opacity: 0;
}

/* таблица с полями формы */

.Settings {
	margin: 0px 0px 9px 0px;
	height: 85px;
}

.TableProcess__TD {    
    font-size: 14px;
    line-height: 22px;
    font-weight: bold;
    color: #000;	
    padding-right: 30px!important
}

@media(min-width:480px)  
{
	.TableProcess__TD {
		display: block;
		text-align: left;
		width: 100%;
		clear: both;
		float: none;
	}
}

@media(min-width:768px)  
{
	.TableProcess__TD {
		display: block;
		text-align: left;
		width: 100%;
		clear: both;
		float: none;
	}
}

@media(min-width:1200px) 
{
	.TableProcess__TD {
		display: block;
		text-align: right;
		width: 25%;
		float: left;
	}
}

.TableProcess tr td {
    padding: 12px 0;
}

.TableProcess input[type="text"],
.TableProcess textarea {
    padding: 0 8px;
    line-height: 18px;
    border: 1px solid #c6cdd3;
    margin: 0;
    color: #535c69;
    outline: 0;    
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;    
}

@media(min-width:200px)  
{
	.TableProcess input[type="text"],
	.TableProcess textarea {
		width: 100%;
		display: block;
	}
}

@media(min-width:768px)  
{
	.TableProcess input[type="text"],
	.TableProcess textarea {
		width: 100%;
		display: block;
	}
}

@media(min-width:1200px) 
{
	.TableProcess input[type="text"],
	.TableProcess textarea {
		width: 75%;
		display: inline-block;
	}
}

.TableProcess input[type="text"] {
	height: 38px;
}

.TableProcess textarea {
    padding: 8px;
    color: #80868e;
    line-height: 18px;
    min-height: 125px;
	resize: none;
}

@media(min-width:200px)  
{
	.TableProcess input[type="text"].bx-lists-input-calendar {
		width: 100%;
	}
}

@media(min-width:768px)  
{
	.TableProcess input[type="text"].bx-lists-input-calendar {
		width: 160px;
	}
}

@media(min-width:1200px) 
{
	.TableProcess input[type="text"].bx-lists-input-calendar {
		width: 160px;
	}
}

.TableProcess input[type="text"].bx-lists-input-counter {
    width: 37px;
    text-align: center
}

/* селекст */
/*
.TableProcess__Select select {
    position: relative;
    padding: 0 8px;
    line-height: 34px;
    border: 1px solid #c6cdd3;
    margin: 0;
    color: #535c69;
    outline: 0;    
    height: 38px;
    padding-right: 37px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    z-index: 2;
    background: transparent;
    font-size: 14px;
	width: 349px;
	width: 100%;
	-webkit-appearance: none;
}

.TableProcess__Select.TableProcess__Select_Setting select
{
	line-height: 1;
	height: 27px;
    -webkit-appearance: none;
}

.TableProcess__Select.TableProcess__Select_Setting:after {    
    top: 9px;    
}

.TableProcess select:-ms-expand {
    display: none;
	-webkit-appearance: none;
}

.TableProcess select option {
    padding: 8px 10px
	-webkit-appearance: none;
}

.TableProcess__Select {
    position: relative;
    display: inline-block
}

@media(min-width:480px)  
{
	.TableProcess__Select {
		width: 100%;
	}
}

@media(min-width:768px)  
{
	.TableProcess__Select {
		width: 100%;
	}
}

@media(min-width:1200px) 
{
	.TableProcess__Select {
		width: 75%;
	}
}

.TableProcess__Select:after,
.TableProcess__Select:before {
    position: absolute;
    content: '';
    border: 6px solid transparent;
    border-top: 7px solid #535c6a;
    border-bottom: 0;
    right: 6px;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 0;
    z-index: 1
}

.TableProcess__Select:after {
    border-top: 7px solid #fff;
    top: 14px;
    bottom: auto
}*/

/* конец селекта */

.TableProcess { width: 100%; }

.TableProcess.bx-lists-calendar-icon:hover {
    opacity: .8
}

.TableProcess .bx-lists-calendar-icon {
    width: 20px;
    height: 18px;
    background: url(../img/sprite.png) no-repeat -30px -408px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    margin-left: -28px
}

.TableProcess .bx-lists-calendar-icon:hover {
    opacity: .8
}

td .TableProcess__Required {
    color: red
}

.TableProcess .diskuf-selectdialog {
    max-width: 800px
}

.TableProcess .diskuf-selectdialog-switcher {
    display: block
}

.Error:before {
	content: 'Поле обязательно для заполнения';
	position: absolute;
	color: red;		
	margin-top: -21px;
}

/***************кнопка Запуск процесса*************/

.ButtonsSet {
    padding-left: 18px;
    padding-top: 28px;
    padding-bottom: 15px;
    height: auto;    
    overflow: hidden;
    transition: height .2s ease 0s,opacity .2s ease 0s;
	display: block;
}

.ButtonsSet__Button {
    box-sizing: border-box;
    margin: 0;
    height: 39px;   
    outline: 0;    
    cursor: pointer;
    transition: 160ms background-color linear,160ms color linear,160ms opacity linear,160ms border-color linear;
    position: relative;
    display: inline-block;
    padding: 0 19px;    
    color: #fff;   
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;  
    border-radius: 2px;
	border: 0;
}

.ButtonsSet__Button_Primary {    
	background: #3bc8f5;
	font-weight: bold;
    font-size: 12px;
}

/***********модальное окно**********/

.PopupWindow {
    background-color: #fff;
    box-shadow: 0 7px 21px rgba(83, 92, 105, .12), 0 -1px 6px 0 rgba(83, 92, 105, .06);
    padding: 10px;
    font: 13px "Helvetica Neue", Helvetica, Arial, sans-serif;
	z-index: 1000;
    position: fixed;
    display: none;
    top: 10px;
    /* left: 35%; */
    /* width: 30%; */
}

.PopupWindow.PopupWindowWithTitlebar {
    padding: 0 10px 10px
}

.PopupWindow__Buttons {
    text-align: center;
    padding: 20px 0 10px;
    position: relative;
	margin-bottom: 10px;
}

.PopupWindow__Button {
    display: inline-block;
    height: 39px;
    line-height: 39px;
    margin: 0 12px 0 0;
    background: #ecedef;
    border-radius: 2px;
    cursor: pointer;
    color: #7a818a;
    font-family: "OpenSans-Bold", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
    outline: 0;
    padding: 0 18px;
    vertical-align: middle;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: none;
    white-space: nowrap;
    -webkit-box-shadow: 0 0 0 1px #c6cdd3 inset;
    box-shadow: 0 0 0 1px #c6cdd3 inset;
    -webkit-font-smoothing: antialiased;
    -webkit-transition: background-color .2s linear, color .2s linear;
    transition: background-color .2s linear, color .2s linear;
	font-weight: bold;
}

.PopupWindow__Button:before,
.PopupWindow__Button:after {
    display: none
}

.PopupWindow__Button:hover {
    background: #cfd4d8;
    color: #535c69
}

.PopupWindow__Button:last-child {
    margin-right: 0
}

.PopupWindow__Button_Accept {
    background: #bbed21;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #535c69
}

.PopupWindow__Button_Accept:hover {
    background: #d2f95f;
    color: #535c69
}

.PopupWindow__Button_Link,
.PopupWindow__Button_Link_Cancel,
.PopupWindow__Button_Link:hover,
.PopupWindow__Button_Link:active {
    background: 0;
    -webkit-box-shadow: none;
    box-shadow: none
}

.PopupWindow__Button_Link {
    border-bottom: 1px solid #c0c2c5;
    border-radius: 0;
    color: #535c69;
    cursor: pointer;
    height: 17px;
    line-height: 17px;
    -webkit-transition: border-bottom-color .15s linear;
    transition: border-bottom-color .15s linear;
    padding: 0
}

.PopupWindow__Button_Link:hover,
.PopupWindow__Button_Link:active {
    border-bottom-color: #535c69;
    color: #535c69;
    line-height: 17px;
    height: 17px
}

.PopupWindow__Button_Link_Cancel {
    color: #f1361b;
    border-bottom-color: #ffb4a9
}

.PopupWindow__Button.PopupWindow__Button_Link_Cancel:hover,
.PopupWindow__Button.PopupWindow__Button_Link_Cancel:active {
    border-bottom-color: #f1361b;
    color: #f1361b
}

.PopupWindow__Title {
    height: 49px
}

.PopupWindow__Title__Text {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #80868e;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    max-width: 100%;
    line-height: 49px;
    overflow: hidden;
    padding: 0 30px 0 10px;
    text-overflow: ellipsis;
    white-space: nowrap
}

.PopupWindow__Content {
    box-sizing: border-box;
    background-color: #fff
}

.PopupWindowWithTitlebar .PopupWindow__Content {
    background-color: #eef2f4
}

.PopupWindowWithTitlebar .PopupWindow__Content {
    padding: 20px
}

.PopupWindow__Icon {
    cursor: pointer;
    height: 27px;
    outline: 0;
    opacity: .5;
    position: absolute;
    right: 0;
    top: 0;
    width: 27px;
    -webkit-transition: opacity .2s linear;
    transition: opacity .2s linear
}

.PopupWindow__Icon:after {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 10px;
    height: 10px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iMTAiIHZpZXdCb3g9IjAgMCAxMCAxMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNNy43ODcgMUw1IDMuNzg3IDIuMjEzIDEgMSAyLjIxMyAzLjc4NyA1IDEgNy43ODcgMi4yMTMgOSA1IDYuMjEzIDcuNzg3IDkgOSA3Ljc4NyA2LjIxMyA1IDkgMi4yMTMiIGZpbGw9IiM5OTkiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==);
    background-repeat: no-repeat;
    background-size: cover;
    content: ""
}

.PopupWindow__Icon_Close {
    top: 12px;
    right: 10px
}

.PopupWindow__Icon:hover {
    opacity: 1
}

.PopupWindowOverlay {
	z-index: 999;
	position:fixed;
	width:100%; 
	height:100%;
	top:0;
	left:0;
	cursor:pointer;
	display:none;	
	background-color: rgba(0, 0, 0, 0.2);
}


/******стилизованные чекбоксы (свитчи)*******/

  input[type="checkbox"].SwitchBox__Checkbox 
  {
		font-size: 15px;
		-webkit-appearance: none;
		   -moz-appearance: none;
				appearance: none;
		width: 3.1em;
		height: 1.1em;
		background: #ddd;
		border-radius: 3em;
		position: relative;		
		outline: none;
		-webkit-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
  } 
  
  input[type="checkbox"].SwitchBox__Checkbox:after 
  {
		position: absolute;
		content: "";
		width: 1.1em;
		height: 1.1em;
		border-radius: 50%;
		background: #fff;
		-webkit-box-shadow: 0 0 .25em rgba(0,0,0,.3);
				box-shadow: 0 0 .25em rgba(0,0,0,.3);
		-webkit-transform: scale(.7);
				transform: scale(.7);
		left: 0;
		-webkit-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
  }
  
  input[type="checkbox"].SwitchBox__Checkbox:checked 
  {
	background: #3bc8f5;
  }
  
  input[type="checkbox"].SwitchBox__Checkbox:checked:after 
  {
	left: calc(100% - 1.1em);
  }
  
/*********список процессов в настройках**********/

.SwitchBox {
	margin-bottom: 30px;
}

.SwitchBox__Block {
    position: relative;
    background: #f2f6f7;
    border-radius: 1px;    
	width: 32%;
    cursor: pointer;
    float: left;
	z-index: 9;
}

.SwitchBox__Block:nth-child(1n) {
	 margin: 20px 2% 0 0;
}

.SwitchBox__Block:nth-child(3n) {
	 margin: 20px 0% 0 0;
}

.SwitchBox__Content {
    padding: 9px 11px;
    display: flex;
    align-items: center;
    z-index: 1;
}

.SwitchBox__Left {
    max-width: 55px;
    min-width: 55px;    
    display: block;
    overflow: hidden;
    position: relative;
}
.SwitchBox__Right {
    flex: 1;
    padding-left: 10px;
    box-sizing: border-box;
    max-width: calc(100% - 55px);
}
.SwitchBox__Title {
    overflow: hidden;
    display: block;
    font: bold 14px/18px Arial, "Helvetica Neue", Helvetica, sans-serif;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: middle;
    color: #000;
}

.SwitchBox__Block.SwitchBox__Block_Setting {	
	background: white; 	
	margin-top: 20px;
}

.SwitchBox__Content.SwitchBox__Content_Setting {
	padding: 0px 4px;
}

.SwitchBox__Content.SwitchBox__Content_Setting input[type="checkbox"].SwitchBox__Checkbox:checked {
    background: #bbed21;
}

/***КНОПКА НАСТРОЕК***/

.Settings__Button:after {
    position: absolute;
    top: 49%;
    left: 5px;
    display: block;
    margin-top: -13px;
    width: 26px;
    height: 26px;
    background: no-repeat center;
    background-image: var(--Settings__Button_Icon_);
    content: '';
    transition: 160ms color linear,160ms transform linear,160ms opacity linear,160ms background-color linear;
}

.Settings__Button:hover {
    background-color: rgba(0,0,0,.1);
}

.Settings__Button {
    position: relative;
	padding: 0;
    min-width: 0;
    width: 38px;
    height: 38px;	
	float: left;
	outline: 0;
	background: #ebf1f4;
	box-shadow: -2px -2px 10px rgba(0,0,0,0.5);
	/*transition: background 0.5s ease;*/
}

.Settings__Button:hover { background: #ebf1f4; }

.Settings__Button {
    --Settings__Button_Icon_: url(../img/ui-setting-black.svg?v=1.1);
}

.Settings__Button { border-width: 0px; }

/*ВЫЕЗЖАЮЩАЯ ПАНЕЛЬ СПРАВА*/

.SidePanel {
	position: absolute;    
    right: calc(-85% + 38px);
    bottom: 0;    
    overflow: hidden;
    width: 85%;
	height: 100%;
	z-index: 9999;	
}

.SidePanel__Content {
	background: #ebf1f4;   
    height: 100%;
    width: calc(100% - 38px);
    float: right;
}

/*КРУТИЛКА*/

.LoadingAnimation__Circular {
	position: absolute;
	top: 55px;
	left: 0;
	right: 0;
	bottom: 0;
	height: 110px;
	width: 110px;
	margin-top: -55px;
	-webkit-animation: rotate 2s linear infinite;
	animation: rotate 2s linear infinite;
	-webkit-transform-origin: center center;
	transform-origin: center center;
}

.LoadingAnimation__Track {
	stroke: #BFC3C8;
	stroke-width: 1.5;
	stroke-dasharray: 80, 200;
	stroke-dashoffset: 0;
	-webkit-animation: dash 1.5s ease-in-out infinite;
	animation: dash 1.5s ease-in-out infinite;
	stroke-linecap: round;
}

.LoadingAnimation__Container {
	position: absolute;
	top: calc(50% - 180px);
	left: 50%;
	width: 110px;
	height: 110px;
	margin-left: -55px;
	z-index: 1;
	transform: translate3d(0px, 48px, 0px);
	display: block;
}

.TopMenu {
	float: right;
	display: inline-block;
	margin-right: 5px;
}

/* кнопака технической поддержки */

.app_wrap.no_font_size{
	font-size: 0;
}

.TopMenu__Support {
	height: 40px;
	width: 40px;
	box-shadow: 0 0 0 1px #c6cdd3 inset;
	border-radius: 2px;
	cursor: pointer;
	display: inline-block;
	background-color: #ecedef;
	vertical-align: middle;
	margin-right: 12px;
	position: relative;
}
.TopMenu__Support:before {
	content: "";
	height: 19px;
	width: 19px;
	display: inline-block;
	background-image: url(../img/iconsprite.png?v=6);
	background-position: -654px 1px;
	position: absolute;
	top: 10px;
	left: 10px;
	opacity: 0.6;
}

/* кнопка фейсбука */
.TopMenu__Facebook {
	background: #4661b0;
    width: 39px;
    height: 39px;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    border-right: 10px solid #4661b0;
    border-bottom: 0;
    display: inline-block;
    box-sizing: border-box;
	vertical-align: middle;
	margin-right: 8px;
}

.TopMenu__Facebook:before {
	content: "";
    position: absolute;
    background: #4661b0;
    width: 25px;
    height: 36px;
    top: 10px;
    left: 17px;
    border: 6px solid white;
    border-radius: 9px;
}

.TopMenu__Facebook:after {
	content: "";
    position: absolute;
    width: 37px;
    top: 23px;
    height: 6px;
    background: white;
    right: -20px;
}

input, textarea, select {
    -webkit-appearance: none;
}

/* селект плагина select2 */

.select2-container {
	width: 100%;
}

span.select2-dropdown.select2-dropdown--below{
	margin-top: 7px;
	border: 1px solid #E8E8E8;
	box-shadow: 2px 6px 21px rgba(83, 92, 105, 0.15);
	border-radius: 0px;	
	font-size: 14px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #444;
	padding: 3px 6px;
	z-index: 99999;
}
.select2-container, .select2-selection{
	outline: none;
}
.select2-selection, .daterange:hover{
	background-color: #fff;
	transition:  background-color 0.25s linear 0s;
}
.select2-selection:hover, .daterange:hover{
	background-color: #d6f1fb;
	transition:  background-color 0.25s linear 0s;
}
.select2-selection__rendered{
	color: #535c69;	    
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;	
}
.select2-results__options{
	padding: 6px;
}
.select2-results__option:hover{
	background-color: #c6cdd3;	
	background-image: linear-gradient(to bottom, #e6e8ea, #f4f6f7);	
	border-color: #ABB2B4 #CAD1D3 #E0E6E8;	
}
.select2-results__options .select2-results__option[aria-selected=true] {
	background-color: #FFF;
	color: #444;
}
.select2-results__options .select2-results__option.select2-results__option--highlighted{
	background-color: #FFF;
	color: #444;
}
.select2-results__option span{
	font-size: 12px;
	color: #777;
}

.select2-results__option:hover span {
	color: #444;
}

.select2-container--default .select2-selection--single 
{
	border: 1px solid #c6cdd3;
}

.TableProcess__Select_Setting .select2-container {
	width: 100%;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #535c69;
}