.timetableWrap {
    width: 100%;
    overflow-x: scroll;
    display: none;
}
.timetable {
    margin-bottom: 0;
}
.timetable. .timeableCell {
    padding: 10px;
}
.timetable .timeableCell.otherChange {
    background-color: #fffc9f;
}
.timetable .timeableCell.changed {
    background-color: #fe9afd;
}
.timetable .forgotKeyInput {
    width: 40px;
    text-align: center;
}

.timetable .departmentCell {
    background-color: #b8daff;
}
.timetable .employeeCell {
    position: relative;
}
.timetable .employeeCell:before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 100%;
    background-color: #ddd;
    position: absolute;
    top: 0;
    left: 0;
}

.timetable .timetableCell_noBorder {
    border-left-width: 0 !important;
}

.timetableInterface {
    margin: 10px 0;
    display: none;
}

.timetableInterface .timetableInterfaceBtn {
    margin-right: 10px;
}
.timetableInterface .timetableInterfaceBlock {
    margin-bottom: 10px;
}
.timetableInterface .timetableInterfaceSearch {
    display: inline-block;
    width: 200px;
}

.loading {
    display: none;
}
.loading .main-grid-loader-circular {
    position: absolute;
    top: 55px;
    left: 0;
    right: 0;
    bottom: 0;
    height: 110px;
    width: 110px;
    margin-top: -55px;
    -webkit-animation: rotate 2s linear infinite;
    animation: rotate 2s linear infinite;
    -webkit-transform-origin: center center;
    transform-origin: center center;
}

.loading .main-grid-loader-path {
    stroke: #BFC3C8;
    stroke-width: 1.5;
    stroke-dasharray: 80, 200;
    stroke-dashoffset: 0;
    -webkit-animation: dash 1.5s ease-in-out infinite;
    animation: dash 1.5s ease-in-out infinite;
    stroke-linecap: round;
}

.loading .main-grid-loader-container {
    position: absolute;
    top: calc(50% - 110px);
    left: 50%;
    width: 110px;
    height: 110px;
    margin-left: -55px;
    z-index: 1;
    transform: translate3d(0px, 48px, 0px);
    display: block;
}

@keyframes rotate
{
    0%   {}
    100% {transform: rotate(-360deg);}
}

.visible {
    display: block !important;
}


.input {
    width: 100%;
    border: 1px solid #caced7;
    font: 13px 'HelveticaNeue', Helvetica, Arial,sans-serif;
}
.input:hover {
    border-color: #64a6f3;
}
.input:focus {
    border-color: #64a6f3;
}

.input_type_text {
    padding: 10px 12px;
    height: 38px;
    width: 100%;
}

.input_type_select {
    border: 1px solid #c6cdd3;
    position: relative;
    display: inline-block;
    width: 100%;
}
.input_type_select .input__select {
    position: relative;
    padding: 10px 8px;
    margin: 0;
    color: #535c69;
    outline: 0;
    height: 38px;
    padding-right: 27px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	background-color: #fff;
    font-size: 14px;
    width: 349px;
    width: 100%;
    border: none;
}
.input_type_select:after, .input_type_select:before {
    position: absolute;
    content: '';
    border: 6px solid transparent;
    border-top: 7px solid #535c6a;
    border-bottom: 0;
    right: 8px;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 0;
    z-index: 1;
}
.input_type_select:after {
    border-top: 7px solid #fff;
    top: 14px;
    bottom: auto;
}

.select {
    padding: 0px;
	background-color: transparent;
}
.select_absolute {
	position : absolute;
	width: auto;
}
.select_hidden {
	display: none; 
}

.select__container {
	position: relative;
    padding: 0px;
	background-color: #fff;
    box-shadow: 0 7px 21px rgba(83,92,105,.12), 0 -1px 6px 0 rgba(83,92,105,.06);
    font: 13px "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.select__option {
	background-color: transparent;
    display: block;
    cursor: pointer;
    height: 36px;
    position: relative;
    text-decoration: none;
    outline: 0;
    white-space: nowrap;
    transition: background-color .3s linear;
    -webkit-transition: background-color .3s linear;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #525c68;
    line-height: 36px;
    padding: 0 15px 0 9px;
    vertical-align: middle;
}
.select__option:hover {
	background-color: #f6f8f9;
}
.select__option.select__option_active {
	background-color: #f6f8f9;
}

/* new */

html, body {
	padding:0;
	margin: 0;
}

body {
	font-family: "OpenSans-SemiBold", "Helvetica Neue", Helvetica,Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;   
    color: #5e6675;	
	position: relative;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.Row
{
	position: relative;
	width: 100%;
	display: inline-block;
}

.taskView label {
	display: block;
	line-height: 2;
}

.taskView__Bottom {
	padding: 0 15px 0 15px;
}

.taskView__BlockSelect__Col, .taskView__Bottom__Col {
	position: relative;
	width: calc(100%/5);
    float: left;
    padding: 0 15px 0 15px;
}

.taskView__BlockSelect__Col select { width: 100%; }

.taskView__Title {
	font-size: 20px;
    padding: 0 15px 20px 15px;
}

.taskView__CheskList {
	height: 85px;
    background: #f8f9fa;
    margin-bottom: 20px;
    border-top: 1px solid #e6e9ec;
}

.taskView__CheskList__Title {
	padding: 10px 15px 10px 15px;
	color: #5e6675;
	font-size: 14px;
}

.taskView__CheskList__Content {
	position: absolute;    
	width: 100%;
}

.taskView__BlockSelect {
	margin-bottom: 30px;
}

.taskView__Bottom__Button {
    --ui-btn-colors-bg: #bbed21;
    --ui-btn-colors-bg-hover: #d2f95f;
    --ui-btn-colors-bg-active: #b2e232;
    --ui-btn-colors-bd: #bbed21;
    --ui-btn-colors-bd-hover: #d2f95f;
    --ui-btn-colors-bd-active: #b2e232;
    --ui-btn-opacity-after: .2;
    --ui-btn-colors-after-bg: #535c69;
    --ui-btn-colors-before-bg: #535c69;
    --ui-btn-colors-clr: #535c69;
    --ui-btn-colors-clr-hover: #535c69;
    --ui-btn-colors-clr-active: #535c69;
}

.taskView__Bottom__Button {
    min-width: var(--ui-btn-size-min-width);
    border-radius: 2px;

    position: relative;
    display: inline-block;
    padding: 3px 10px;    
    color: #fff;   
    vertical-align: middle;
    text-align: center;
    text-decoration: none;    
    white-space: nowrap;
    font: 600 12px/37px "OpenSans-SemiBold","Helvetica Neue",Helvetica,Arial,sans-serif;
    font: 600 var(--ui-btn-size-font-size)/calc(var(--ui-btn-size-height) - 2px) "OpenSans-SemiBold","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 12px;

    box-sizing: border-box;
    margin: 0;
    height: 39px;
    height: var(--ui-btn-size-height);
    outline: 0;      
	background-color: #39849dbf;
    cursor: pointer;
    transition: 160ms background-color linear,160ms color linear,160ms opacity linear,160ms border-color linear;
}

.taskView__Bottom__Button:hover {        
    border: none;    
    background-color: #3bc8f5;    
}

/* селект */

.taskView__SelectContainer {
    position: relative;
    display: inline-block;
}

.taskView__SelectContainer:after, .taskView__SelectContainer:before {
    position: absolute;
    content: '';
    border: 6px solid transparent;
    border-top: 7px solid #535c6a;
    border-bottom: 0;
    right: 6px;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 0;
    z-index: 1;
}

.taskView__SelectContainer select {
    position: relative;
    padding: 0 8px;
    line-height: 36px;
    border: 1px solid #c6cdd3;
    margin: 0;
    color: #535c69;
    outline: 0;
    width: 100%;
    height: 26px;
    padding-right: 29px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    z-index: 2;
    background: transparent;
    font: 600 var(--ui-btn-size-font-size)/calc(var(--ui-btn-size-height) - 2px) "OpenSans-SemiBold","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
}

.taskView__SelectContainer:after, .taskView__SelectContainer:before {
    position: absolute;
    content: '';
    border: 6px solid transparent;
    border-top: 7px solid #535c6a;
    border-bottom: 0;
    right: 6px;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 0;
    z-index: 1;
}

.taskView__SelectContainer:after {
    border-top: 7px solid #fff;
    top: 8px;
    bottom: auto;
}