html, body {
	margin: 0;
	padding: 0;
	position: relative;
}

a:hover, a:focus {    
    text-decoration: none;
}

/* таблица со списком задач */
.table__thead_color {    
    background-image: linear-gradient(to bottom, #D4EDF7, #B5E1F1);    
    color: #41474F;   
    text-shadow: 0px 1px #FFF;   
}

.table__thead__th {
	text-align: center;
}

/* модальное окно */

.ModalForm
{
	/*height: 353px;*/
	border-radius: 1px;
	background: #fff;
	position: fixed;
	top: 10px;		
	display: none;
	opacity: 0;
	z-index: 5;
	padding: 30px 2%;
	box-shadow: 0px 0px 21px 5px rgba(83, 92, 105, 0.15);	
}

@media(min-width:480px){
	.ModalForm {
		width: 80%;
		left: 11%;		
	}
}

@media(min-width:768px){
	.ModalForm {
		width: 70%;
		left: 15%;	
	}
}

@media(min-width:1200px){
	.ModalForm {
		width: 50%;
		left: 26%;
	}
}

.ModalFormOverlay {
	z-index:3;
	position:fixed;
	background-color:#fff;
	opacity:0.5;
	-moz-opacity:0.5;
	filter:alpha(opacity=50);
	width:100%; 
	height:100%;
	top:0;
	left:0;
	cursor:pointer;
	display:none;
}

/* блоки для задач */
.block__title__open {
    display: inline-block;
    vertical-align: middle;
    width: 36px;
    height: 40px;    
    cursor: pointer;
	position: absolute;
	top: 0;
	z-index: 1;
}

.block__title__open:before {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #fff url(../img/plus.svg?3) center center no-repeat;
    background-size: 8px 8px;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    -webkit-border-radius: 100%;
    border-radius: 100%;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
    /* transition: .1s; */
}

.block__title__open_close:before {
    background: rgba(255,255,255,.5) url(../img/minus.svg?4) center center no-repeat !important;
    background-size: 8px 2px;
}


.block__body__priority, .block__body__nopriority {
	width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .04);
    position: absolute;
    top: 8px;
    right: 20px;
}

.block__body__priority {    
    background: url(../img/icons-sprite.svg?1) no-repeat center 0;
    background-color: #c8494a;
    background-position: center -410px;
    background-size: cover;
}

.block__body__nopriority {
	 background: #b0dbe2 url(../img/close.svg?2) no-repeat center center;
}

.block { 	
    color: #ffffff;
    position: relative;
    text-transform: uppercase;
    margin-top: 15px;
}

.block__title {
	/*height: 40px;*/    
    background: #3f85c3;    
    font-size: 16px;    
    padding: 12px 0 12px 0;  
}

.block__body {
	background: #67bcd6;
    height: 100%;
	padding-top: 25px;
	height: 179px;
	display: none;
}

.block__body__img {
	width: 100%;
	height: 128px;
	background: url(../img/task.jpg) 50% 50% no-repeat; background-size: cover;
}

.block__body__title {
	font-size: 1.2em;
}

.block__body__title_center {
	text-align: center;
}

.block__body__body {
	font-size: 1.7em;
}

.block__body__subtitle { padding-top: 18px; font-size: 12px;}
.block__body__subbody { font-size: 1.2em; }

/* настройки */

.settings { height: 100px; margin-top: 10px;}

.settings_body { display: block; height: 99px; padding-top: 0px; }

.settings_select {
	margin-bottom: 5px;
	width: 207px;
}

.settings_select, .settings_input { 
	color: #333; 
	margin-top: 2px;
    height: 30px;
    padding-left: 10px;
}

.settings_input {     
	width: 51px;
    /*display: block;*/ 
}

/* отправить */

.settings_submit, .settings_clear {      
    border-radius: 2px;
    cursor: pointer;    
    display: inline-block;       
    font-family: "OpenSans-Bold",Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: bold;
    outline: 0;
    padding: 0 18px;
    vertical-align: middle;
    text-decoration: none;
    text-transform: uppercase;    
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
    -webkit-transition: background-color .2s linear,color .2s linear;
    transition: background-color .2s linear,color .2s linear;
    border: 0;
	-webkit-box-shadow: none;
    box-shadow: none;
	
	height: 39px;
    line-height: 39px;
    margin: 12px 0 0 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.settings_title {
	line-height: 7;
}

.settings_submit {
    background: #bbed21;
    color: #535c69;
}

.settings_clear {
    -webkit-box-shadow: inset 0 0 0 1px #a1a6ac;
    box-shadow: inset 0 0 0 1px #a1a6ac;
    background: 0;
    color: #535c69;
	float: right;
}

.settings_go{
	float: left;
}

/************************/

.settings_TachIcon {
    position: relative;
    width: 20px;
    height: 99px;
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease;
    opacity: .3;
    cursor: pointer;
    background-image: url(../img/gamburger.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: move;    
    display: block;
}

/************************/

.inputGroup {  
  display: block;
  margin-top: 1px;
  position: relative;
  width: 263px;
  height: 32px;
  padding-left: 40px;
  line-height: 2;
}

.inputGroup label:after {
  width: 32px;
  height: 32px;
  content: '';
  border: 2px solid #D1D7DC;
  background-color: #fff;
  background-image: url(../img/checkbox.svg);
  background-repeat: no-repeat;
  background-position: 2px 3px;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  transition: all 200ms ease-in;
}
.inputGroup input:checked ~ label:before {
  -webkit-transform: translate(-50%, -50%) scale3d(56, 56, 1);
          transform: translate(-50%, -50%) scale3d(56, 56, 1);
  opacity: 1;
}
.inputGroup input:checked ~ label:after {
	background-color: #ff0000;
    border-color: #ffffff;
}
.inputGroup input {
  width: 32px;
  height: 32px;
  order: 1;
  z-index: 2;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  visibility: hidden;
}

/*******************************новые карточки задач***********************************/

.TaskBlock {
    position: relative;
    display: inline-block;
    width: 100%;   
    font: normal 13px "Helvetica Neue", Arial, Helvetica, sans-serif;
    vertical-align: top;
	margin-top: 20px;
}

.TaskBlock_size {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;	 
}

.TaskBlock__content {
    border: 1px solid #b3b8be;
    border-radius: 3px 3px 2px 2px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    overflow: hidden;
    /*height: 378px;*/
    -webkit-transition: opacity .3s ease, background-color .8s ease;
    -moz-transition: opacity .3s ease, background-color .8s ease;
    transition: opacity .3s ease, background-color .8s ease
}

.TaskBlock__content.TaskBlock__body_skin {
    border: 1px solid #fff;
    background: #4fc3f7;
    /*height: 201px*/
}

.TaskBlock__head {
    position: relative;
    color: #FFF;
    font-size: 13px;
    text-transform: uppercase;
    padding: 0 0 0 17px;
    background: #818992;
    border-radius: 2px 2px 0 0
}

.TaskBlock__head,
.TaskBlock__body_skin .TaskBlock__head {
    background: rgba(0, 0, 0, 0.17)
}

.TaskBlock__TitleContainer {
    position: relative;
    vertical-align: middle;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    padding-right: 30px;
    font-size: 0
}

.TaskBlock__TitleContainer__Inner {
    display: inline-block;
    max-width: 100%;
    position: relative;
    padding-right: 30px;
    line-height: 40px
}

.TaskBlock__TitleContainer__Inner .TaskBlock__TitleContainer__Title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    font: bold 12px/40px "OpenSans", Arial, Helvetica, sans-serif;
    color: #fff;
    max-width: 100%;
    -webkit-transition: color .3s ease;
    -moz-transition: color .3s ease;
    transition: color .3s ease;
	padding-left: 15px;
}

.TaskBlock__TitleContainer__Inner .TaskBlock__TitleContainer__Title:hover {
    color: rgba(255, 255, 255, .5)
}

.TaskBlock__body {
    box-sizing: border-box;
    position: relative;
    padding: 30px 10px 10px;    
	display: none;
}

div.TaskBlock__body {
    padding: 0
}

.TaskBlock__body_skin .TaskBlock__body {		 
	font-size: 0;		
}

@media(min-width:767px){
	.TaskBlock__body_skin .TaskBlock__body {
		padding: 20px 0 15px 20px;		
	}
}

@media(min-width:1200px){
	.TaskBlock__body_skin .TaskBlock__body {
		padding: 20px 0 0 20px;		
	}
}

.TaskBlock__body__style {
    color: #fff;
    font: 13px "OpenSans", Arial, Helvetica, sans-serif
}

.TaskBlock__body__img {
    display: inline-block;    
    width: 98px;
    height: 98px;
    background: url(../img/zaglushka.svg) -19px 0
}

.TaskBlock__body__item__name {
    font: 21px/15px "OpenSans", Arial, Helvetica, sans-serif
}

.TaskBlock__body__item__value {		
	line-height: 1.6;
}

@media(min-width:767px){
	.TaskBlock__body__item__value {
		font: bold 2em "OpenSans", Arial, Helvetica, sans-serif;
	}
}

@media(min-width:1200px){
	.TaskBlock__body__item__value {
		font: bold 38px/46px "OpenSans", Arial, Helvetica, sans-serif
	}
}

@media(max-width:1199px) {
    .TaskBlock__body__ItemSubBlock {
        font: normal 12px "Helvetica Neue", Arial, Helvetica, sans-serif
    }
}

.TaskBlock__body__TitleSubItem {
	color: #fff;
    font: 13px "OpenSans",Arial,Helvetica,sans-serif;
}

.TaskBlock__body__LeftSubItem {
	display: inline-block;		
}

@media(min-width:767px){
	.TaskBlock__body__LeftSubItem {
		margin: 0 0 14px 0;
	}	
}

@media(min-width:1200px){
	.TaskBlock__body__LeftSubItem {		
		margin: 0 0 30px 0;
	}
}

.TaskBlock__body__ValueSubItem {
    font: bold 16px "OpenSans", Arial, Helvetica, sans-serif
}

.TaskBlock__body__ItemBlock {
	
	position: relative;	
}


.TaskBlock_priority {    
    position: absolute;
    right: 25px;
    top: 0;
    bottom: 0;
    margin: auto;
    background: url(../img/ogon.png) no-repeat 0 -122px;
    width: 12px;
    height: 16px;
}

/*******************************************************/

.DivParams__Item {
    position: relative;
    padding: 6px 7px 6px 4px;
    line-height: 15px;
    background: #ace9fb;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: bold;
    color: #545c69;
    overflow: hidden;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
	/*height: 46px !important;*/
}

.DivParams__Item:nth-child(1)
{
	background: rgb(255, 0, 0); 
	color: rgb(255, 255, 255);
}

.DivParams__Item:nth-child(2)
{
	background: rgb(255, 168, 1); 
	color: rgb(84, 92, 105);
}

.DivParams__Item:nth-child(3)
{
	background: rgb(255, 255, 0); 
	color: rgb(84, 92, 105);
}

.DivParams__Item:nth-child(4)
{
	background:#FFF799;
	color:#545C69;
}

.DivParams__Title {
    position: relative;
    vertical-align: middle;
    display: block;
    overflow: hidden;
    padding: 3px 26px 2px 0;
    white-space: nowrap
}

.DivParams__Title__Inner {
    display: inline-block;
    max-width: 100%;
    position: relative;
    padding-right: 26px;
    line-height: 28px
}

.DivParams__Title input {
    outline: 0;
    border: 1px solid #bcbcbc;
    line-height: 28px;
    color: #535c69;
    font-size: 14px;
    font-weight: bold;
    padding: 0 6px;
    box-sizing: border-box;
    width: 100%
}

.DivParams__Title__Name {
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    max-width: 100%;
    padding-right: 5px
}

.DivParams__Hamburger {
    width: 35px;
    height: 35px;
    background: transparent;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    float: left;
    margin-right: 4px
}

.DivParams__Hamburger {
    opacity: .5
}

.DivParams__Hamburger.DivParams__Hamburger_Move:hover {
    opacity: .7
}

.DivParams__Hamburger_Move {
    cursor: move
}

.DivParams__Hamburger__Icon {
    width: 14px;
    height: 10px;
    border-top: 2px solid #545c69;
    border-bottom: 2px solid #545c69;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto
}

.DivParams__Hamburger__Icon:after {
    content: '';
    position: absolute;
    top: 2px;
    width: 14px;
    height: 2px;
    background: #545c69
}

.DivParams__Hamburger_Light .DivParams__Hamburger__Icon {
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff
}

.DivParams__Hamburger_Light .DivParams__Hamburger__Icon:after {
    background: #fff
}

.DivParams__Hamburger_Dark .DivParams__Hamburger__Icon {
    border-top: 2px solid #545c69;
    border-bottom: 2px solid #545c69
}

.DivParams__Hamburger_Dark .DivParams__Hamburger__Icon:after {
    background: #545c69
}

/********ВЫПАДАЮЩИЙ СПИСОК********/

.AddParam {
    margin: 0px auto;
    display: block;
    width: 118px;
    padding-top: 15px;
}

.AddParam__Btn {
    display: inline-block;    
    border-bottom: 1px dashed;
    color: #80868e;
    text-decoration: none;
    white-space: nowrap;
    font: 13px/15px "Helvetica Neue",Helvetica,Arial,sans-serif;
    cursor: pointer;
	height: 20px;
    transition: 220ms all ease;
}

/**********************************************************/
.AddParam .PopupMenu {
	display: none; 	
}

.AddParam:hover .PopupMenu {
	display: block; 
	/*animation: popupWindowShowAnimationOpacity 100ms;
    animation-fill-mode: both*/
}

@keyframes popupWindowShowAnimationOpacity {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

.PopupMenu {
    background-color: #fff;
    box-shadow: 0 7px 21px rgba(83, 92, 105, .12), 0 -1px 6px 0 rgba(83, 92, 105, .06);
    padding: 10px;
    font: 13px "Helvetica Neue", Helvetica, Arial, sans-serif;	
	z-index: 1000; 
	position: absolute; 		
}

.PopupMenu.PopupMenu_Paddings,
.PopupMenu.PopupMenu_Paddings .PopupMenu__Content {
    padding: 0
}

.PopupMenu__Delimiter {
    background-color: #f0f1f2;
    display: block;
    height: 1px;
    line-height: 1px
}

.PopupMenu__Content {
    box-sizing: border-box;
    background-color: #fff
}

.PopupMenu__Body {
    padding: 8px 0
}

.PopupMenu__Body .PopupMenu__Item {
    background-color: transparent;
    display: block;
    cursor: pointer;
    height: 36px;
    position: relative;
    text-decoration: none;
    outline: 0;
    white-space: nowrap;
    -webkit-transition: background-color .3s linear;
    transition: background-color .3s linear
}

.PopupMenu__Text {
    display: inline-block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #525c68;
    line-height: 36px;
    padding: 0 25px 0 25px;
    text-decoration: none;
    vertical-align: middle;
    -webkit-transition: color .2s linear;
    transition: color .2s linear
}

.PopupMenu__Item:hover {
    background-color: #f6f8f9
}

.PopupMenu__Item:hover .PopupMenu__Text {
    color: #3b434f
}

/* селекст */
.DivParams__Select select {
    position: relative;
    padding: 0 8px;
    line-height: 34px;
    border: 1px solid #c6cdd3;
    margin: 0;    
    outline: 0;    
    height: 38px;
    padding-right: 37px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    z-index: 1;    
    font-size: 14px;
	width: 349px;
	width: 100%;
	color: #535c69;
	background: #fff;
	cursor: pointer;
}

.DivParams__Select.TableProcess__Select_Setting select
{
	line-height: 1;
	height: 27px;
    
}

.DivParams__Select.TableProcess__Select_Setting:after {    
    top: 9px;    
}

.TableProcess select:-ms-expand {
    display: none
}

.TableProcess select option {
    padding: 8px 10px
}

.DivParams__Select {
    position: relative;
    display: inline-block;
	width: 100%;
}

.DivParams__Select:after,
.DivParams__Select:before {
    position: absolute;
    content: '';
    border: 6px solid transparent;
    border-top: 7px solid #535c6a;
    border-bottom: 0;
    right: 6px;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 0;
    z-index: 2
}

.DivParams__Select:after {
    border-top: 7px solid #fff;
    top: 13px;
    bottom: auto
}

/* конец селекта */



/***удаление параметра***/

.DivParams__IconDelete 
{       
    background-image: url(../img/krest.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease;
    opacity: .3;
    cursor: pointer;
	width: 5%;
    height: 100%;
}