.extras_wrap{
	position: relative;
	float: right;
	margin-right: 15px;
}
.extras_wrap .extras_menu{
	display: none;
	position: absolute;
	right: 0;
	width: 290px;
	padding: 0;
    list-style: none;
    border: 1px solid #aaa;
    border-radius: 3px;
	background-color: #FFF;
	z-index: 10;
	margin: 10px 0 0 0;
}
.extras_wrap .extras_menu ul{
	padding: 0;
    list-style: none;
}
.extras_wrap .extras_menu > li{
	border-bottom: 1px solid #aaa;
}
.extras_wrap .extras_menu > li:last-child{
	border-bottom-width: 0;
}
.extras_wrap .extras_menu ul:last-child{
	border-bottom-width: 0;
}
.extras_menu .extras_menu_more{
	font-family: 'OpenSans-Bold',Helvetica,Arial,sans-serif;
    color: #4F5D67;
    font-size: 16px;
	padding: 10px;
	border-radius: 3px;
	font-weight: bold;
}
.extras_menu .extras_menu_item a:link,
.extras_menu .extras_menu_item a:visited,
.extras_menu .extras_menu_item a:active{
	font-family: 'OpenSans-Bold',Helvetica,Arial,sans-serif;
    color: #4F5D67;
    font-size: 16px;
	padding: 10px;
	border-radius: 3px;
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
}
.extras_menu .extras_menu_head{
	font-family: 'OpenSans-Bold',Helvetica,Arial,sans-serif;
    color: #4F5D67;
    font-size: 16px;
	padding: 10px;
	border-radius: 3px 3px 0 0;
	font-weight: bold;
}
.extras_menu .extras_menu_item:first-child{
	border-radius: 3px 3px 0 0;
}
.extras_menu .extras_menu_item:last-child{
	border-radius: 0 0 3px 3px;
}
.extras_menu .extras_menu_item:hover{
	background: rgba(239,239,239,1);
	background: -moz-linear-gradient(top, rgba(239,239,239,1) 0%, rgba(227,227,227,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(239,239,239,1)), color-stop(100%, rgba(227,227,227,1)));
	background: -webkit-linear-gradient(top, rgba(239,239,239,1) 0%, rgba(227,227,227,1) 100%);
	background: -o-linear-gradient(top, rgba(239,239,239,1) 0%, rgba(227,227,227,1) 100%);
	background: -ms-linear-gradient(top, rgba(239,239,239,1) 0%, rgba(227,227,227,1) 100%);
	background: linear-gradient(to bottom, rgba(239,239,239,1) 0%, rgba(227,227,227,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#e3e3e3', GradientType=0 );
}

.extras_arrow_bottom{
	background-image: url('../img/white_arrow.png');
	width: 11px;
	height: 7px;
	display: inline-block;
	vertical-align: middle;
    margin-right: 5px;
}
.extras_btn_text{
	display: inline-block;
	vertical-align: middle;
}

.feat-red{
	font-size: 12px;
	font-family: "OpenSans-Bold",Helvetica,Arial,sans-serif;
	font-weight: bold;
	line-height: 40px;
	height: 39px;
	margin: 0 12px 0 0;
	background: #FF5D40;
	box-shadow: none;
	color: #eee;
	border-radius: 2px;
	cursor: pointer;
	display: inline-block;
	outline: 0;
	padding: 0 18px;
	vertical-align: middle;
	text-decoration: none;
	text-transform: uppercase;
	text-shadow: none;
	white-space: nowrap;
	transition: background-color .25s linear;
}
.feat-red:hover{
	background-color: #FF8973;
}