.app_wrap.no_font_size{
	font-size: 0;
}

.hidden{
	opacity: 0;
}

table{
	border-collapse: collapse;
	margin-bottom: 15px;
	
	border-bottom: medium none;
	table-layout: fixed;
	font: 12px Arial,Helvetica,sans-serif;
	border-spacing: 0px;
	text-align: left;
	color: #000;
}
table tr:nth-child(n+2){
	border-bottom: solid 1px #edeef0;
}
table td:nth-child(n+2){
	border-left: solid 1px #edeef0;
}
table td{
	padding: 12px 3px 12px 7px;
}
table th{
	padding: 12px 7px 12px 7px;
	background-image: linear-gradient(to bottom, #D4EDF7, #B5E1F1);
	border: medium none;
	color: #41474F;
	text-shadow: 0px 1px #FFF;
	cursor: default;
	font-weight: normal;
	text-align: center;
	position: relative;
}
table th:nth-child(n+2)::before{
	content: "";
	display: inline-block;
	height: 23px;
	margin-left: -1px;
	width: 1px;
	background-color: #B4D7E3;
	box-shadow: 1px 0px 0px #DFF2F9;
	position: absolute;
	left: 0px;
	top: 8px;
}	
table th:first-child{
	border-radius: 3px 0px 0px 3px;
}
table th:last-child {
	border-radius: 0px 3px 3px 0px;
}

.main-wrap{
	margin-top: 20px;
}

.feat-green{
	font-size: 12px;
	font-family: "OpenSans-Bold",Helvetica,Arial,sans-serif;
	font-weight: bold;
	line-height: 40px;
	height: 39px;
	margin: 0 12px 0 0;
	background: #bbed21;
	box-shadow: none;
	color: #535c69;
	border-radius: 2px;
	cursor: pointer;
	display: inline-block;
	outline: 0;
	padding: 0 18px;
	vertical-align: middle;
	text-decoration: none;
	text-transform: uppercase;
	text-shadow: none;
	white-space: nowrap;
	transition: background-color .25s linear;
}
.feat-green:active{
	background-color: #b2e233;
}
.feat-green:hover{
	background-color: #d2f95f;
}

.feat-grey{
	height: 39px;
	line-height: 40px;
	margin: 0 12px 0 0;
	background: #ecedef;
	box-shadow: 0 0 0 1px #c6cdd3 inset;
	border-radius: 2px;
	cursor: pointer;
	color: #7a818a;
	display: inline-block;
	font-family: "OpenSans-Bold",Helvetica,Arial,sans-serif;
	font-size: 12px;
	font-weight: bold;
	outline: 0;
	padding: 0 18px;
	vertical-align: middle;
	text-transform: uppercase;
	text-shadow: none;
	white-space: nowrap;
	-webkit-font-smoothing: antialiased;
	transition: background-color .25s linear;
}
.feat-grey:active{
	background-color: #868d95;
}
.feat-grey:hover{
	background-color: #dddee1;
}

.employee_list .employee_list_item:link,
.employee_list .employee_list_item:active,
.employee_list .employee_list_item:visited{
	font-size: 15px;
	color: #4F5D67;
	font-family: "OpenSans",Helvetica,Arial,sans-serif;
	margin-right: 20px;
	/*margin-top: 5px;*/
	text-decoration: none;
	display: inline-block;
}
.employee_list .employee_list_item:hover{
	text-decoration: underline;
}
.employee_list .employee_list_item.active:link,
.employee_list .employee_list_item.active:active,
.employee_list .employee_list_item.active:visited{
	font-weight: bold;
	cursor: default;
}
.employee_list .employee_list_item.active:hover{
	text-decoration: none;
}
.employee_list .employee_select{
	color: #2067b0;
    text-decoration: none;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
	display: inline-block;
	margin-top: 5px;
}
.employee_list .employee_select:hover{
    text-decoration: underline;
}

.content{
	margin-top: 25px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
}

.main_stat{
	margin-bottom: 15px;
    font-size: 15px;
    color: #4F5D67;
	font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
	display: none;
}
.main_stat .main_stat_item{
	display: inline-block;
	margin-right: 5px;
	margin-top: 5px;
}

.content_loading{
	margin-top: 30px;
	display: none;
}
.content_loading .content_loading_icon{
	width: 220px;
	height: 19px;
	background-image: url('../img/content_loader.gif');
}
.content_loading .content_loading_text{
	font-size: 15px;
	font-family: "OpenSans-Bold",Helvetica,Arial,sans-serif;
    color: #4F5D67;
}

.align_center{
	text-align: center;
}

.task_table{
	border-collapse: collapse;
	
	border-bottom: medium none;
	table-layout: fixed;
	font: 12px Arial,Helvetica,sans-serif;
	border-spacing: 0px;
	text-align: left;
	color: #000;
	margin-top: 30px;
}
.task_table a:link,
.task_table a:visited,
.task_table a:active{
	color:#000;
	text-decoration: none;
}

.task_table a:hover{
	text-decoration: underline;
}

.task_table .link_new:link,
.task_table .link_new:visited,
.task_table .link_new:active{
	color:#90ad23;
}

.task_table .link_in_prog:link,
.task_table .link_in_prog:visited,
.task_table .link_in_prog:active{
	color:#000;
}

.task_table .link_wait:link,
.task_table .link_wait:visited,
.task_table .link_wait:active{
	color:#dd7d00;
}

.task_table .link_fin:link,
.task_table .link_fin:visited,
.task_table .link_fin:active{
	color:#ccc;
}

.task_table .link_exp:link,
.task_table .link_exp:visited,
.task_table .link_exp:active{
	color:#d54545;
}

.task_table .link_aside:link,
.task_table .link_aside:visited,
.task_table .link_aside:active{
	color:#888;
}

.task_table .link_new:link,
.task_table .link_new:visited,
.task_table .link_new:active{
	color:#90ad23;
}

.task_table .intranet_row, .task_table .extranet_row{
	border-width: 0;
    font-weight: bold;
	background: linear-gradient(to bottom, rgba(239,239,239,1) 0%, rgba(227,227,227,1) 100%);
}
.task_table .subsidiary_row{
	display: none;
}
.task_table tr:nth-child(n+2){
	border-bottom: solid 1px #edeef0;
}
.task_table td:nth-child(n+2){
	border-left: solid 1px #edeef0;
}
.task_table td{
	padding: 12px 3px 12px 7px;
}
.task_table th{
	padding: 12px 13px 20px 13px;
	background-image: linear-gradient(to bottom, #D4EDF7, #B5E1F1);
	border: medium none;
	color: #41474F;
	/*font-size: 13px;*/
	text-shadow: 0px 1px #FFF;
	cursor: default;
	font-weight: bold;
	text-align: center;
	position: relative;
	font-weight: bold;
}
.task_table th:nth-child(n+2)::before{
	content: "";
	display: inline-block;
	height: 23px;
	vertical-align: top;
	margin-left: -1px;
	width: 1px;
	background-color: #B4D7E3;
	box-shadow: 1px 0px 0px #DFF2F9;
	position: absolute;
	left: 0px;
	top: 20px;
}	
.task_table th:first-child{
	border-radius: 3px 0px 0px 3px;
}
.task_table th:last-child {
	border-radius: 0px 3px 3px 0px;
}
.task_table .task_name {
	/*padding-left: 30px;*/
	position: relative;
	font-size: 14px;
}
.task_table .block_end_task_row{
	display: none;
}
.task_table .active .task_name:before {
	content: "";
	position: absolute;
	display: inline-block;
	width: 5px;
	height: 8px;
	background-image: url('../img/in-progress.gif');
	top: calc(50% - 4px);
    left: 13px;
}

.settings{
	display: none;
	background-color: #fff;
	position: absolute;
	top: 25px;
    left: 25%;
	width: 440px;
	padding: 15px;
	box-sizing: border-box;
	box-shadow: 0px 0px 21px 5px rgba(83, 92, 105, 0.15);
	font-family: 'OpenSans-Bold',Helvetica,Arial,sans-serif;
	
	z-index: 99901;
}
.settings fieldset {
    border-width: 0;
    margin: 12px 0 0;
    padding: 0;
}
.settings .settings_title{
	font-family: "Helvetica Neue Bold", Helvetica, Arial;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    color: #535c69;
}
.settings .save{
	text-transform: uppercase;
}
.settings .reset{
	text-transform: uppercase;
}
.settings .x-close{
	float: right;
	width:9px; 
	height:9px; 
	background: transparent url('../img/x-close.png') no-repeat; 
	cursor: pointer;
}
.settings .set_field{
	margin-bottom: 10px;
	vertical-align: middle;
	display: inline-block;
    text-align: left;
	margin-left: 20px;
}
.settings .set_label{
	width: 140px;
	display: inline-block;
	vertical-align: middle;
	color: #535c69;
}
.settings .formfooter{
	text-align: center;
	margin-top: 25px;
    font-size: 0;
}
.settings .emp_add{
	background: #3bc8f5;
    color: #fff;
	border-radius: 2px;
    cursor: pointer;
	display: inline-block;
	line-height: 40px;
	
	font-family: "OpenSans-Bold",Helvetica,Arial,sans-serif;
    font-size: 12px;
    padding: 0 18px;
    vertical-align: middle;
	
	margin-left: 20px;
	
	text-transform: uppercase;
    text-shadow: none;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
	
	transition: background-color .2s linear,color .2s linear;
	
	height: 38px;
}
.settings .emp_add:hover{
	background: #3fddff;
	color: #fff;
	transition: background-color .2s linear,color .2s linear;
}
.settings .emp_add_icon{
	background-image: url("../img/iconsprite.png?v=6");
	background-position: -274px -2px; 
	height: 14px; 
	width: 14px;
	margin-bottom: 2px;
	opacity: 0.8;
	vertical-align: middle;
	display: inline-block;
	margin-right: 5px;
}
.settings .emp_add_text{
	display: inline-block; 
	font-size: 12px; 
	font-weight: bold;
}
.settings .emp_add_info{
	font-size: 14px;
    font-family: "OpenSans-Bold",Helvetica,Arial,sans-serif;
    font-weight: bold;
	color: #d54545;
	margin-top: 15px;
    margin-left: 20px;
}

.emplist{
	border: 1px solid #aaa;
    border-radius: 3px;
    height: 250px;
    overflow-y: scroll;
    font-size: 15px;
	background-color: #fff;
	margin-top: 10px;
}
.emplist_table{
	width: 100%;
}
.emplist_table th{
	font-weight: bold;
}
.emplist_table  .emplist_actions{
	width: 100px;
}
.emplist_table .emplist_act{
	text-align: center;
}
.emplist_table .emplist_act_del{
	width: 14px;
	height: 15px;
	display: inline-block;
	background-image: url('../img/iconsprite.png?v=6');
    background-position: -613px -1px;
	cursor: pointer;
}

.overlay {
	background-color: rgba(255, 255, 255, 0.9);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: fixed;
	display: none;
	z-index: 99900;
}

.select2-dropdown{
	margin-top: 7px;
	border: 1px solid #E8E8E8;
	box-shadow: 2px 6px 21px rgba(83, 92, 105, 0.15);
	border-radius: 0px;	
	font-size: 14px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #444;
	padding: 3px 6px;
	z-index: 99902;
}
.select2-container, .select2-selection{
	outline: none;
}
.select2-selection{
	background-color: #fff;
	transition:  background-color 0.25s linear 0s;
}
.select2-selection:hover{
	background-color: #dddee1;
	transition:  background-color 0.25s linear 0s;
}
.select2-selection__rendered{
	font-weight: bold;
	font-size: 12px;
	text-shadow: none;
	text-transform: uppercase;
}
.select2-results__options{
	padding: 6px;
}
.select2-results__option:hover{
	background-color: #E3EBED;
	background-image: linear-gradient(to bottom, #DDE7E9, #E9EFF1);
	box-shadow: 1px 1px 1px #BBC3C4 inset;
	border-color: #ABB2B4 #CAD1D3 #E0E6E8;
	border-radius: 3px;
}
.select2-results__options .select2-results__option[aria-selected=true] {
	background-color: #FFF;
	color: #444;
}
.select2-results__options .select2-results__option.select2-results__option--highlighted{
	background-color: #FFF;
	color: #444;
}

.loading{
	display: inline-block;
	background-position: 5px 10px;
    background-repeat: no-repeat;
	padding-left: 30px;
}



/*NEW*/
.employee_list {
	background-color: #eaeff0;
    border: 1px solid;
    border-color: #b6bdbe #cbd3d4 #d6dfe0;
    padding: 10px 15px;
}

.employee_list .employee_select {
	margin-top:0;
}

.big-red-button {
	display:inline-block;
	float:right;
	margin-top: 5px;
}

.monitor h2, .statistic h2 {
	font-weight:100;
}

.monitor {
	
}

.statistic {
	display:none;
}

.accounting {
	display:none;
}

.switch-btn {
	display:inline-block;
	cursor:pointer;
	padding:8px;
	position:relative;
	border-radius: 2px;
	line-height: normal;
    height: auto;
	margin: 2px 16px 6px 0px;
}

.switch-btn:hover {
	background-color: #d6f1fb;
}

.switch-btn span {
	color: #555;
    text-transform: uppercase;
    line-height: 12px;
	font-size: 12px;
    vertical-align: middle;
	font-weight: bold;
}

.swb-monitor {
	background:url(../img/iconsprite2.png) -17px 0 no-repeat;
	width:27px;
	height:17px;
	margin:0 auto 8px;
}

.swb-statistic {
	background:url(../img/iconsprite2.png) 0 0 no-repeat;
	width:17px;
	height:17px;
	margin:0 auto 8px;
}

.swb-accounting {
	background:url(../img/iconsprite2.png) -592px 0 no-repeat;
	width:17px;
	height:17px;
	margin:0 auto 8px;
}

.swb-selected {
	background-color: #d6f1fb;
}

body
{
	background: none repeat scroll 0 0 #FFFFFF;
	color:#2e2e2e;
	font-family: "OpenSans-Light",sans-serif;
	font-size: 14px;
	height: 100%;
	margin: 0;
	padding: 0;
}

select:focus, button:focus {
	outline:none;
}

select {
	font-size:14px;
	line-height:14px;
	padding:11px 8px;
	border:1px solid #c6cdd3;
	position:relative;
	top:1px;
	display: inline-block;
	-webkit-appearance: none;
	appearance: none;
	-moz-appearance: none;
	z-index:1;
	min-width: 100px;
	background:transparent;
}

select.departament {
	min-width: 200px;
}

.select-wrap {
	display: inline-block;
    position: relative;
	background:#fff;
}

.select-wrap:after {
	background: url(../img/filter-sprite.png) no-repeat -9px -641px;
    content: "";
    height: 10px;
    margin-top: -5px;
    right: 8px;
    position: absolute;
    top: 50%;
    width: 5px;
    z-index: 0;
}

button {
	padding:13px 20px;
	font-size:12px;
	line-height:12px;
	font-weight:bold;
	cursor:pointer;
	background: transparent;
    border-radius: 2px;
    border: 1px solid #a1a6ac;
    box-shadow: none;
    color: #535c69;
	text-transform:uppercase;
	-webkit-font-smoothing: antialiased;
    -webkit-transition: all .25s linear;
    transition: all .25s linear;
}

.stop-report {
	display:none;
}

button:hover {
	background:#cfd4d8;
}

button:active {
	background:#868d95;
}

.calendar-place {
	background-color:#eaeff0;
	border: 1px solid;
    border-color: #b6bdbe #cbd3d4 #d6dfe0;
	padding:8px 5px;
	width:99%;
	position:relative;
	box-sizing:border-box;
}

.departament-wrap {
	float:right;
	margin-right:5px;
}

.title-place {
	font-size:15px;
	color:#2e2e2e;
	width:99%;
}

.date-location {
	text-align:center;
	font-size:18px;
	color:#2e2e2e;
	position:relative;
}

.progress-mark {
	position:absolute;
	top:10px;
	left:50%;
	width:30px;
	height:20px;
	background-color:red;
}

.content-wrap {
	display:table;
	margin-top:10px;
	overflow-x:hidden;
	position:relative;
}

.content-wrap h2 {
	font-family: "OpenSans-Light",sans-serif;
	text-align:center;
}

.table-wrap {
	clear:both;
	overflow-x:hidden;
}

.groups-table {
	width:200px;
	border-collapse: collapse;
	margin:0 0 10px 0;
	float:left;
	table-layout:fixed;
}

.report-table {
	overflow-x:hidden;
}

.report-table td {
	border-bottom:1px solid #edeef0;
}

.groups-table td {
	/*width:220px;*/
	width:200px;
	text-align:left;
	padding:5px 0;
	/*overflow:hidden;*/
	white-space:nowrap;
}

.days-table {
	border-collapse: collapse;
	margin-bottom:10px;
	table-layout:fixed;
	width:1550px;
	position:relative;
	left:0;
	cursor:e-resize;
}

.days-table td {
	/*width:50px !important;*/
	padding:5px 0;
	text-align:center;
	color:#2e2e2e;
	border:1px solid #d6d6d6;
}

.first-days-table.days-table td {
	/*width:49px !important;*/
}

.days-table .head-line td {
	font-weight:bold;
	font-size:16px;
	color:#000;
	background: #b6e1f1 url(../img/bx-tm-data-thead.png) repeat-x left top;
	padding:15px 0;
	text-align:center;
}

.groups-table .head-line td {
	font-size:14px;
	color:#000;
	background: #b6e1f1 url(../img/bx-tm-data-thead.png) repeat-x left top;
	padding:26px 0 25px;
	text-align:center;
}

.groups-table td a {
	overflow:hidden;
	white-space:nowrap;
	font-size:12px;
}

.table-window {
	overflow-x:hidden;
	position:relative;
}

.table-move {
	position:absolute;
	width:8px;
	height:68px;
	z-index:9;
	top:0;
	border-left: 1px solid #c4dde8;
    border-right: 1px solid #c4dde8;
	cursor:pointer;
}

.table-move.to-left {
	left:0;
	background:#b6e1f1 url(../img/table-arrow-left.gif) 0 27px no-repeat;
}

.table-move.to-left:hover {
	background:#a0c5d3 url(../img/table-arrow-left.gif) 0 27px no-repeat;
}

.table-move.to-right {
	right:0;
	background:#b6e1f1 url(../img/table-arrow-right.gif) 0 27px no-repeat;
}

.table-move.to-right:hover {
	background:#a0c5d3 url(../img/table-arrow-right.gif) 0 27px no-repeat;
}

.dayweek {
	font-size:11px;
	font-weight:100;
}

.user-cell {
	border-right:1px solid #edeef0;
	height: 24px;
    padding: 0 !important;
	overflow:hidden;
}

.user-cell a {
	color: #2469ae;
	text-decoration:none;
}

.user-cell a:hover {
	text-decoration:underline;
}

.zero {
	color:#eee;
}

.with-result {
	color:#000;
}

.no-info {
	text-align:center;
	font-size:18px;
	color:#7f7f7f;
}

.yasumi {
	background-color:#f1f1f1;
}

.head-line td.yasumi2 {
	color:#61737a;
}

.under-head td {
	height:19px;
	position:relative;
}

.days-table .under-head td {
	border:0;
}

.under-head-block-wrap {
	position:relative;
}

.under-head-block {
	position: absolute;
    padding: 5px 0 5px 10px;
    background-color: #F3F3F3;
    /*border: solid 1px #D6D6D6;*/
    text-align: left;
    white-space: nowrap;
    /*width: 2500px;*/
    top: -13px;
    left: -5px;
}

.loader-mark {
	/*position:absolute;
	top:18px;
	left:27%;
	display:none;
	z-index: 2;
	width: 220px;
    height: 19px;
    background-image: url(../img/content_loader.gif);
	background-color:#eaeff0;*/
	position: relative;
    z-index: 2;
    width: 220px;
    height: 19px;
    background-image: url(../img/content_loader.gif);
    background-color: #eaeff0;
    display: none;
    vertical-align: middle;
    margin-left: 20px;
}

.common-input {
	height: 40px;
	box-sizing: border-box;
	text-align: center;
	border-radius: 2px;
	border: 1px solid #a1a6ac;
}

.accounting-peariod-wrap {
	display: inline-block;
}

.daterange-wrap {
	position: relative;
	z-index: 10;
}

.accounting-content {
	display: none;
	margin-top: 20px;
}

.accounting table th:nth-child(n+2)::before {
	display: none;
}

.open_line_btn {
	height: 40px;
	width: 40px;
	box-shadow: 0 0 0 1px #c6cdd3 inset;
	border-radius: 2px;
	cursor: pointer;
	display: inline-block;
	background-color: #ecedef;
	vertical-align: middle;
	margin-right: 12px;
	position: relative;
}
.open_line_btn:before {
	content: "";
	height: 19px;
	width: 19px;
	display: inline-block;
	background-image: url(../img/iconsprite.png?v=6);
	background-position: -654px 1px;
	position: absolute;
	top: 10px;
	left: 10px;
	opacity: 0.6;
}