html, body {
	margin: 0;
	padding: 0;
}

body {
    color: #000;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    width: auto;
    margin: 0;
    padding: 0;
}

a:hover, a:focus {
    text-decoration: none !important;
}

label { margin-bottom: 0; }

input[type="text"] {    
    width: 100%;
}

div.MainIblockList__Burger__Empty {
    height: 0
}

.MainIblockList__IconFolder {
    display: inline-block;
    float: left;
    width: 36px;
    height: 29px;
    margin-right: 10px;
    vertical-align: middle;
    background: url(../img/icons-items.png) no-repeat;
    background-position: 0 0!important
}

.MainIblockList__IconFolder_Small.MainIblockList__IconItem,
.MainIblockList__IconItem_Small.MainIblockList__IconItem {
    display: inline-block;
    width: 36px;
    height: 36px;
    /*margin-right: 10px;*/
    vertical-align: middle;
    background: url(../img/icons-items.png) no-repeat;
    background-position: left -576px!important
}

.MainIblockList__IconItem_Small.MainIblockList__IconItem.MainIblockList__Icon {
    background-position: left -624px!important
}

.ManageIblock {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 0 0 13px 0;
}

.ManageIblock td {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    vertical-align: middle!important
}

.ManageIblock a.MainIblockList__Burger:hover {
    border: none!important
}

.ManageIblock__Thead__Tr>td {
    font-size: 14px;
    height: 55px;
    padding: 0 10px;
    vertical-align: middle;
    color: #535c69!important;
    background: #d6f1fb!important
}

.ManageIblock__Thead__Tr .ManageIblock__Action a.MainIblockList__Burger {
    opacity: .4
}

.MainIblockList__Content>td {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 59px;
    padding: 0 10px;
    -webkit-transition: background .3s cubic-bezier(.000, .465, .750, .750);
    -moz-transition: background .3s cubic-bezier(.000, .465, .750, .750);
    -o-transition: background .3s cubic-bezier(.000, .465, .750, .750);
    transition: background .3s cubic-bezier(.000, .465, .750, .750);
    vertical-align: middle!important;
    color: #535c69;
    border-top: 1px solid #edeef0!important;
    border-bottom: none!important
}

.MainIblockList__Content td {
    font-size: 14px
}

.MainIblockList__Content:first-child>td {
    border-top: none!important
}

.MainIblockList__Content:hover>td {
    background: #f5f5f5!important
}

.MainIblockList__Content.selected>td {
    background: #f5fcde!important
}

td.MainIblockList__Checkbox {
    padding-left: 15px;
	width: 1%;
}

.MainIblockList__Td__Name {
    width: 100%
}

.MainIblockList__Td__Name a {
    cursor: pointer;
}

.MainIblockList__Td__Name tr td {
    padding: 0!important;
    border: none!important
}

.ManageIblock__Action {
    padding: 0 15px;
    text-align: center;
	width: 1%;
}

.ManageIblock__Action a.MainIblockList__Burger
{
    display: inline-block;
    width: 16px;
    height: 16px;
    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;
    opacity: .2;
    background: url(../img/sprite.png) no-repeat;
    background-position: -16px -191px;
    vertical-align: middle
}

.ManageIblock__Action a.MainIblockList__Burger .MainIblockList__Burger__Empty,
.ManageIblock__Action a.MainIblockList__Burger .MainIblockList__Burger__Empty:hover {
    background: none!important
}

.ManageIblock__Action a.MainIblockList__Burger:hover {
    opacity: .7
}

.ManageIblock__Action a.MainIblockList__Burger:active {
    opacity: 1
}

/* панель групповых операций */

.Toolbar {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 54px;   
    margin-top: 20px;
    padding: 0 10px;
    color: #535c69;
    background: #eef2f4
}

.Toolbar td {
    padding: 0 6px;
    vertical-align: middle;
}

.Toolbar__IconEdit {
    display: block;
    width: 15px;
    height: 15px;
    cursor: pointer;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s;
    opacity: .7;
    background: url(../img/sprite.png) no-repeat 0 -160px
}

.Toolbar__IconEdit.active,
.Toolbar__IconEdit:hover {
    opacity: 1
}

.Toolbar__IconDel {
    display: block;
    width: 15px;
    height: 15px;
    margin-right: 30px;
    cursor: pointer;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s;
    opacity: .7;
    background: url(../img/sprite.png) no-repeat -36px -158px
}

.Toolbar__IconDel.active,
.Toolbar__IconDel:hover {
    opacity: 1
}

.Toolbar__Td {
    vertical-align: middle
}

.Toolbar__Td input[type="button"] {
	line-height: 1.5;
	margin-right: 15px;
}

/* хлебные крошки */

.Crumbs__Item {
	position:relative;
	display:inline-block;
	max-width:31%;
}

.Crumbs__Link{
	font-size:13px;
	line-height:38px;
	display:block;
	overflow:hidden;
	margin-right:30px;
	vertical-align:middle;
	white-space:nowrap;
	text-decoration:none;
	text-overflow:ellipsis;
	-ms-text-overflow:ellipsis;
	cursor: pointer;
}

.Crumbs__Link__Title{
	margin-right:3px;
	color:#535c69;
	border:none;
}

/* вкладки */

.TabContainer {
    padding: 0 25px;
    height: 60px;
	background: #fff;
}

.TabContainer__Item {
    position: relative;
    display: inline-block;
    margin: 0 50px 8px 0;
    height: 60px;
    line-height: 30px;
    text-decoration: none;
}

.TabContainer__Item a {
	text-decoration: none;
}

.TabContainer__Item:last-child {
    margin: 0;
}

.TabContainer__Item__Link {
    position: relative;
    display: inline-block;
    height: 65px;
    font: 15px/65px "OpenSans-Semibold", "Helvetica Neue", Arial, Helvetica, sans-serif;
    color: #6e7788;
    outline: 0;
    text-decoration: none;
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
    vertical-align: middle;
    box-sizing: border-box;
    cursor: pointer;
    -khtml-user-drag: none;
    -webkit-user-drag: none;
    text-transform: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	font-weight: bold;
}

.TabContainer__Item__Link:hover {text-decoration: none;}


.TabContainer__Item:focus, .TabContainer__Item:focus .TabContainer__Item__Link, .TabContainer__Item__Link:focus {
    outline: 0;
}
.TabContainer__Item__Link:hover {
    color: #545c6a;
}

.TabContainer__Item__Link {
    color: #1058d0;
}

.TabContainer__Item .TabContainer__Item__Icon {
    display: none;
}

.TabContainer__Item .TabContainer__Item__Text {
    position: relative;
}

.TabContainer__Item__EditButton, .TabContainer__Item__DragButton {
    position: absolute;
    display: inline-block;
    width: 16px;
    height: 18px;
    right: -15px;
    top: 2px;
    pointer-events: none;
    opacity: 0;
    cursor: pointer;
    -webkit-transition: opacity 200ms;
    -moz-transition: opacity 200ms;
    -ms-transition: opacity 200ms;
    -o-transition: opacity 200ms;
    transition: opacity 200ms;
}

.TabContainer__Item__DragButton {
    left: -15px;
    top: 3px;
    right: auto;
    cursor: move;
}

/*смена активности*/

.TabContainer__Item_Active {
    border-bottom: 2px solid #1058d0;
    height: 58px!important;
}
.TabContainer__Item_Active .TabContainer__Item__Link {
    color: #2a6ad6;
}

.TabContent>div {
    display: none;
}

.TabContent>div.TabContainer__Item_Active {
    display: block;
}

/***********модальное окно**********/

.PopupWindow {
    background-color: #fff;
    box-shadow: 0 7px 21px rgba(83, 92, 105, .12), 0 -1px 6px 0 rgba(83, 92, 105, .06);
    padding: 10px;
    font: 13px "Helvetica Neue", Helvetica, Arial, sans-serif;
	z-index: 1000;
    position: fixed;
    display: none;
    top: 10px;
    left: 35%;
    width: 30%;
}

.PopupWindow.PopupWindowWithTitlebar {
    padding: 0 10px 10px
}

.PopupWindow__Buttons {
    text-align: center;
    padding: 20px 0 10px;
    position: relative
}

.PopupWindow__Button {
    display: inline-block;
    height: 39px;
    line-height: 39px;
    margin: 0 12px 0 0;
    background: #ecedef;
    border-radius: 2px;
    cursor: pointer;
    color: #7a818a;
    font-family: "OpenSans-Bold", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
    outline: 0;
    padding: 0 18px;
    vertical-align: middle;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: none;
    white-space: nowrap;
    -webkit-box-shadow: 0 0 0 1px #c6cdd3 inset;
    box-shadow: 0 0 0 1px #c6cdd3 inset;
    -webkit-font-smoothing: antialiased;
    -webkit-transition: background-color .2s linear, color .2s linear;
    transition: background-color .2s linear, color .2s linear;
	font-weight: bold;
}

.PopupWindow__Button:before,
.PopupWindow__Button:after {
    display: none
}

.PopupWindow__Button:hover {
    background: #cfd4d8;
    color: #535c69
}

.PopupWindow__Button:last-child {
    margin-right: 0
}

.PopupWindow__Button_Accept {
    background: #bbed21;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #535c69
}

.PopupWindow__Button_Accept:hover {
    background: #d2f95f;
    color: #535c69
}

.PopupWindow__Button_Link,
.PopupWindow__Button_Link_Cancel,
.PopupWindow__Button_Link:hover,
.PopupWindow__Button_Link:active {
    background: 0;
    -webkit-box-shadow: none;
    box-shadow: none
}

.PopupWindow__Button_Link {
    border-bottom: 1px solid #c0c2c5;
    border-radius: 0;
    color: #535c69;
    cursor: pointer;
    height: 17px;
    line-height: 17px;
    -webkit-transition: border-bottom-color .15s linear;
    transition: border-bottom-color .15s linear;
    padding: 0
}

.PopupWindow__Button_Link:hover,
.PopupWindow__Button_Link:active {
    border-bottom-color: #535c69;
    color: #535c69;
    line-height: 17px;
    height: 17px
}

.PopupWindow__Button_Link_Cancel {
    color: #f1361b;
    border-bottom-color: #ffb4a9
}

.PopupWindow__Button.PopupWindow__Button_Link_Cancel:hover,
.PopupWindow__Button.PopupWindow__Button_Link_Cancel:active {
    border-bottom-color: #f1361b;
    color: #f1361b
}

.PopupWindow__Title {
    height: 49px
}

.PopupWindow__Title__Text {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #80868e;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    max-width: 100%;
    line-height: 49px;
    overflow: hidden;
    padding: 0 30px 0 10px;
    text-overflow: ellipsis;
    white-space: nowrap
}

.PopupWindow__Content {
    box-sizing: border-box;
    background-color: #fff
}

.PopupWindowWithTitlebar .PopupWindow__Content {
    background-color: #eef2f4
}

.PopupWindowWithTitlebar .PopupWindow__Content {
    padding: 20px
}

.PopupWindow__Icon {
    cursor: pointer;
    height: 27px;
    outline: 0;
    opacity: .5;
    position: absolute;
    right: 0;
    top: 0;
    width: 27px;
    -webkit-transition: opacity .2s linear;
    transition: opacity .2s linear
}

.PopupWindow__Icon:after {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 10px;
    height: 10px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iMTAiIHZpZXdCb3g9IjAgMCAxMCAxMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNNy43ODcgMUw1IDMuNzg3IDIuMjEzIDEgMSAyLjIxMyAzLjc4NyA1IDEgNy43ODcgMi4yMTMgOSA1IDYuMjEzIDcuNzg3IDkgOSA3Ljc4NyA2LjIxMyA1IDkgMi4yMTMiIGZpbGw9IiM5OTkiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==);
    background-repeat: no-repeat;
    background-size: cover;
    content: ""
}

.PopupWindow__Icon_Close {
    top: 12px;
    right: 10px
}

.PopupWindow__Icon:hover {
    opacity: 1
}

.PopupWindowOverlay {
	z-index:3;
	position:fixed;
	background-color:#333;
	opacity:0.5;
	-moz-opacity:0.5;
	filter:alpha(opacity=50);
	width:100%; 
	height:100%;
	top:0;
	left:0;
	cursor:pointer;
	display:none;
}

/* прокручивание таблицы */
/*
.Orientation {
    position: absolute;
    width: 50px;
    height: 160px;    
    z-index: 1;
    opacity: 0;
    will-change: transform;
    -webkit-transform: translate3d(0px,48px,0);
    -moz-transform: translate3d(0px,48px,0);
    -ms-transform: translate3d(0px,48px,0);
    -o-transform: translate3d(0px,48px,0);
    transform: translate3d(0px,48px,0);
    -webkit-transition: opacity 200ms ease,margin 200ms ease,height 200ms ease;
    -moz-transition: opacity 200ms ease,margin 200ms ease,height 200ms ease;
    -ms-transition: opacity 200ms ease,margin 200ms ease,height 200ms ease;
    -o-transition: opacity 200ms ease,margin 200ms ease,height 200ms ease;
    transition: opacity 200ms ease,margin 200ms ease,height 200ms ease;
	top: 0;
}

.Orientation_Left {
    background: url(../img/left_table.svg) center left no-repeat;
    margin-left: -50px;
    left: 0;
}

.Orientation_Right {
    background: url(../img/right_table.svg) center right no-repeat;
    margin-right: -50px;
    right: 0;
    left: auto;
}

.Orientation.Orientation_Show {
    opacity: .6;
}

.Orientation:hover {
    opacity: .8;
}

.Orientation_Left.Orientation_Show {
    margin-left: 0;
}

.Table_Contain {
	position: relative;
	display: block;
}*/