input, textarea{
	outline: none;
}
label{
	color: #686a6b;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 15px;
}
legend{
	font-family: "Helvetica Neue Bold", Helvetica, Arial;
	font-size: 16px;
	font-weight: bold;
	color: #535c69;
}

.hidden{
	opacity: 0;
}

.app_wrap{
	display: none;
	margin: 0;
}
.app_wrap.no_font_size{
	font-size: 0;
}

.facebook_btn {
	background: #4661b0;
    width: 40px;
    height: 40px;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    border-right: 10px solid #4661b0;
    border-bottom: 0;
    display: inline-block;
    box-sizing: border-box;
	vertical-align: middle;
	margin-right: 12px;
}
.facebook_btn:before {
	content: "";
    position: absolute;
    background: #4661b0;
    width: 25px;
    height: 36px;
    top: 10px;
    left: 17px;
    border: 6px solid white;
    border-radius: 9px;
}

.facebook_btn:after {
	content: "";
    position: absolute;
    width: 37px;
    top: 23px;
    height: 6px;
    background: white;
    right: -20px;
}

.appframe{
	height: auto;
}

.main-wrap {
	color: #000;
	font-size: 14px;
	font-family: "OpenSans-Bold",Helvetica,Arial,sans-serif;
}
.report-menu {
	margin: 0px 0px 10px;
	padding: 5px 0px 0px;
}
.item-wrap {
	border-radius: 5px;
	color: #4F5D67;
	display: inline-block;
	height: 30px;
	line-height: 30px;
	font-size: 15px;
	min-width: 60px;
	text-align: center;
	text-decoration: none;
	outline: 0px none;	
	padding: 0px 12px 0px 8px;
	position: relative;
	vertical-align: middle;
	cursor: pointer;
	transition: background-color 0.25s linear 0s;
}
.item-wrap:active, .item-wrap.item-wrap-active{
	background-color: #E3EBED;
	background-image: linear-gradient(to bottom, #DDE7E9, #E9EFF1);
	box-shadow: 1px 1px 1px #BBC3C4 inset;
	border-color: #ABB2B4 #CAD1D3 #E0E6E8;
	border-radius: 3px;
	color: #2F3941;
	height: 30px;
	margin-top: 1px;
}
.item-wrap:hover{
	background-color: #E3EBED;
	background-image: linear-gradient(to bottom, #E9EFF1, #DDE7E9);
	box-shadow: 1px 1px 1px #BBC3C4 ;
	border-color: #ABB2B4 #CAD1D3 #E0E6E8;
	border-radius: 3px;
	color: #2F3941;
	height: 30px;
	transition: background-color 0.25s linear 0s;
}
.item-wrap.item-wrap-active:hover{
	background-color: #E3EBED;
	background-image: linear-gradient(to bottom, #DDE7E9, #E9EFF1);
	box-shadow: 2px 2px 1px #BBC3C4 inset;
	border-color: #ABB2B4 #CAD1D3 #E0E6E8;
	border-radius: 3px;
	color: #2F3941;
	height: 30px;
	margin-top: 1px;
}

.item-date-wrap {
	border: solid 1px #a1a6ac;
	border-right-width: 0px;
	color: #4F5D67;
	display: inline-block;
	height: 30px;
	line-height: 30px;
	font-size: 15px;
	min-width: 60px;
	text-align: center;
	text-decoration: none;
	outline: 0px none;	
	padding: 0px 12px 0px 8px;
	position: relative;
	vertical-align: top;
	cursor: pointer;
	transition: background-color 0.25s linear 0s;
}
.item-date-wrap.last{
	border-radius: 0px 2px 2px 0px;
	border-right-width: 1px;
}
.item-date-wrap.first {
	border-radius: 2px 0px 0px 2px;
}
.item-date-wrap:active, .item-date-wrap.item-date-wrap-active{
	background-color: #d6f1fb;
	/*background-image: linear-gradient(to bottom, #DDE7E9, #E9EFF1);*/
	color: #2F3941;
}
.item-date-wrap:hover{
	background-color: #d6f1fb;
	/*background-image: linear-gradient(to bottom, #E9EFF1, #DDE7E9);*/
	color: #2F3941;
	transition: background-color 0.25s linear 0s;
}
.item-date-wrap.item-date-wrap-active:hover{
	background-color: #d6f1fb;
	/*background-image: linear-gradient(to bottom, #DDE7E9, #E9EFF1);*/
	color: #2F3941;
}

.secthead{
	font-family: 'OpenSans-Bold',Helvetica,Arial,sans-serif;
	color: #4F5D67;
	font-size: 17px;
	height: 17px;
	width: 160px;
	margin: 15px 0;
}
.sectfoot{
	font-family: 'OpenSans-Bold',Helvetica,Arial,sans-serif;
	color: #4F5D67;
	font-size: 17px;
	display: inline-block;
	margin-left: 3px;
    vertical-align: middle;
}
.diaghead{
	font-family: 'OpenSans-Bold',Helvetica,Arial,sans-serif;
	color: #4F5D67;
	font-size: 18px;
	height: 21px;
	opacity: 0;
	transition: opacity 0.35s linear 0s;
}
.disabled{
	opacity: 0;
}
.employeeswrap{
	transition: opacity 0.25s linear 0s;
}	
.calltypeswrap, .employeeswrap, .departmentswrap, .clientwrap, .lineswrap{
	margin: 0;
}
.calltypeswrap{
	display: inline-block;
}
.lineswrap{
	margin-left: 20px;
	display: none;
}
.clientphonenumwrap{
	display: none;
	opacity: 0;
}

.clientphonenum .clientphonenum_input {
    font-weight: bold;
    font-size: 12px;
    text-shadow: none;
    text-transform: uppercase;
    font-family: "OpenSans-Bold",Helvetica,Arial,sans-serif;
    color: #444;
    width: 168px;
    box-sizing: border-box;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    border-radius: 2px;
    border: 1px solid #aaa;
    padding: 0 8px;
}
	
.table table{
	border-collapse: collapse;
	margin-bottom: 15px;
	
	border-bottom: medium none;
	table-layout: fixed;
	font: 12px Arial,Helvetica,sans-serif;
	border-spacing: 0px;
	text-align: left;
	color: #000;
}
.table table tr:nth-child(n+2){
	border-bottom: solid 1px #edeef0;
}
.table table td:nth-child(n+2){
	border-left: solid 1px #edeef0;
}
.table table td{
	padding: 12px 3px 12px 7px;
}
.table table th{
	padding: 12px 13px 20px 13px;
	background-image: linear-gradient(to bottom, #D4EDF7, #B5E1F1);
	border: medium none;
	color: #41474F;
	font-size: 13px;
	text-shadow: 0px 1px #FFF;
	cursor: default;
	font-weight: normal;
	text-align: center;
	position: relative;
	font-weight: bold;
	cursor: pointer;
}
.table table th:nth-child(n+2)::before{
	content: "";
	display: inline-block;
	height: 23px;
	vertical-align: top;
	margin-left: -1px;
	width: 1px;
	background-color: #B4D7E3;
	box-shadow: 1px 0px 0px #DFF2F9;
	position: absolute;
	left: 0px;
	top: 20px;
}	
.table table th:first-child{
	border-radius: 3px 0px 0px 3px;
}
.table table th:last-child {
	border-radius: 0px 3px 3px 0px;
}

.table table td[class*=cell]{
	text-align: center;
}
.table td.print{
	padding-right: 2px;
	padding-left: 2px;
}
.table th.print{
	font-size: 8px;
}
.table table.print, .circlediag table.print{
	font-size: 7px;
}
.table .callstatus, .table .departments{
	width: 100px;
}
.table .callstatus span{
	/*font-size: 11px;
	color: #555;*/
}
.table table.print .callstatus span{
	font-size: 7px;
}
		
.settings{
	float: right;
}

.feat-grey{
	height: 39px;
	line-height: 40px;
	margin: 0 12px 0 0;
	background: #ecedef;
	box-shadow: 0 0 0 1px #c6cdd3 inset;
	border-radius: 2px;
	cursor: pointer;
	color: #7a818a;
	display: inline-block;
	font-family: "OpenSans-Bold",Helvetica,Arial,sans-serif;
	font-size: 12px;
	font-weight: bold;
	outline: 0;
	padding: 0 18px;
	vertical-align: middle;
	text-transform: uppercase;
	text-shadow: none;
	white-space: nowrap;
	-webkit-font-smoothing: antialiased;
	transition: background-color .25s linear;
}
.feat-grey:active{
	background-color: #868d95;
}
.feat-grey:hover{
	background-color: #dddee1;
}
.feat-green{
	font-size: 12px;
	font-family: "OpenSans-Bold",Helvetica,Arial,sans-serif;
	font-weight: bold;
	line-height: 40px;
	height: 40px;
	margin: 0 12px 0 0;
	background: #bbed21;
	box-shadow: none;
	color: #535c69;
	border-radius: 2px;
	cursor: pointer;
	display: inline-block;
	outline: 0;
	padding: 0 18px;
	vertical-align: middle;
	text-decoration: none;
	text-transform: uppercase;
	text-shadow: none;
	white-space: nowrap;
	transition: background-color .25s linear;
}
.feat-green:active{
	background-color: #b2e233;
}
.feat-green:hover{
	background-color: #d2f95f;
}	
.feat-white{
	height: 39px;
	line-height: 40px;
	margin: 0 12px 0 0;
	background: #ecedef;
	box-shadow: 0 0 0 1px #c6cdd3 inset;
	border-radius: 2px;
	cursor: pointer;
	color: #7a818a;
	display: inline-block;
	font-family: "OpenSans-Bold",Helvetica,Arial,sans-serif;
	font-size: 12px;
	font-weight: bold;
	outline: 0;
	padding: 0 18px;
	vertical-align: middle;
	text-transform: uppercase;
	text-shadow: none;
	white-space: nowrap;
	-webkit-font-smoothing: antialiased;
	transition: background-color .25s linear;
}
.feat-white:active{
	background-color: #868d95;
}
.feat-white:hover{
	background-color: #dddee1;
}
	
.settingsform{
	display: none;
	background-color: #fff;
	position: absolute;
	top: 260px;
	left: 50%;
	margin-left: -200px;
	margin-top: -250px;
	width: 420px;
	height: 552px;
	z-index: 1000;
	padding: 10px;
	box-shadow: 0px 0px 21px 5px rgba(83, 92, 105, 0.15);
	
	z-index: 99901;
}
	
.tabscontent{
	border: 1px solid #c6cdd3;
	border-top: none;
	padding: 10px;
}
	
.tab{
	display: inline-block;
	position: relative;
	height: 30px;
	line-height: 30px;
	background-color: #eef2f4;
	margin: 15px 0px 0px;
	padding: 5px 10px;
	border-radius: 2px 2px 0px 0px;
	cursor: pointer;
}
.tabs{
	position: relative;
	font-family: "Helvetica Neue Bold", Helvetica, Arial;
	font-size: 14px;
	font-weight: bold;
	color: #535c69;
}
.tab.selected{
	background-color: #fff;
	border: 1px solid #c6cdd3;
	border-bottom: 1px solid #fff;
	cursor: default;
}
.tabs::before{
	display: block;
	border-bottom: 1px solid #c6cdd3;
	width: 100%;
	content: "";
	position: absolute;
	bottom: 0px;
}
	
.formfooter{
	position: absolute;
	bottom: 0px;
	width: 100%;
}
.formcontent{
	display: none;
	padding: 15px;
	min-height: 345px;
}
.formcontent.selected{
	display: block;
}
.formcontents fieldset{
	border: 0px solid #cfd5d7;
	border-top-width: 1px;
	margin: 12px 0 0;
}
.formcontents fieldset:last-child{
	padding-bottom: 0px;
}
.formcontents fieldset:nth-child(1){
	margin: 0;
}
.formcontents input[type=text]{
	border: 1px solid #000;
	margin-bottom: 10px;
	font-family: "Open Sans", sans-serif;
	color: #686a6b;
	width: 65px;	
	border-radius: 2px;
	border: solid 1px #a1a6ac;
	box-sizing: border-box;
	text-align: center;
}	
.formcontents input[type=checkbox]{
	color: #686a6b;
}

.formcontents label[for*=timestat], 
.formcontents label[for*=productivestat], 
.formcontents label[for*=successfulstat],
label.callstatinfolabel{
	color: #868e97;
	font-size: 15px;
}
.formcontents label[for*=productivedur], 
.formcontents label[for*=successfuldur]{
	color: #686a6b;
	font-size: 15px;
}
	
.daterange{
	height: 32px;
	border-radius: 2px;
	border: solid 1px #a1a6ac;
	box-sizing: border-box;
	width: 200px;	
	font-size: 14px;
	font-weight: bold;
	font-family: "OpenSans-Bold",Helvetica,Arial,sans-serif;
	color: #444;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	
	display: inline-block;
	position: relative;
	padding-left: 30px;
	margin-left: 20px;
	
	transition:  background-color 0.25s linear 0s;
}
.daterange .daterange_icon{
	display: inline-block; 
	vertical-align: middle;
	background-image: url('../img/iconsprite.png'); 
	background-position: -233px 0px; 
	height: 17px; 
	width: 17px; 
	opacity: 0.7; 
	margin-right: 2px; 
	margin-bottom: 1px; 
	position: absolute;
	left: 5px; 
	top: 8px;
}
.daterange .daterange_text{
	display: inline-block; 
	vertical-align:middle; 
	line-height: 33px;
}
.daterange:hover{
	background-color: #d6f1fb;
	transition:  background-color 0.25s linear 0s;
}
.daterange-selected{
	background-color: #d6f1fb;
}

.overlay {
	background-color: rgba(255, 255, 255, 0.9);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: fixed;
	display: none;
	z-index: 99900;
}
		
span.select2-dropdown.select2-dropdown--below{
	margin-top: 7px;
	border: 1px solid #E8E8E8;
	box-shadow: 2px 6px 21px rgba(83, 92, 105, 0.15);
	border-radius: 0px;	
	font-size: 14px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #444;
	padding: 3px 6px;
}
.select2-container, .select2-selection{
	outline: none;
}
.select2-selection, .daterange:hover{
	background-color: #fff;
	transition:  background-color 0.25s linear 0s;
}
.select2-selection:hover, .daterange:hover{
	background-color: #d6f1fb;
	transition:  background-color 0.25s linear 0s;
}
.select2-selection__rendered{
	font-weight: bold;
	font-size: 12px;
	text-shadow: none;
	text-transform: uppercase;
}
.select2-results__options{
	padding: 6px;
}
.select2-results__option:hover{
	background-color: #E3EBED;
	background-image: linear-gradient(to bottom, #DDE7E9, #E9EFF1);
	box-shadow: 1px 1px 1px #BBC3C4 inset;
	border-color: #ABB2B4 #CAD1D3 #E0E6E8;
	border-radius: 3px;
}
.select2-results__options .select2-results__option[aria-selected=true] {
	background-color: #FFF;
	color: #444;
}
.select2-results__options .select2-results__option.select2-results__option--highlighted{
	background-color: #FFF;
	color: #444;
}
.select2-results__option span{
	font-size: 12px;
	color: #777;
}
.printinfo .h3 .q {
	text-transform: lowercase;
}
.printinfo .h3 .q :first-letter{
	text-transform: uppercase;
}

.clientwrap .clients{
	/*display: inline-block;
    height: 38px;
    border-radius: 2px;
    border: solid 1px #a1a6ac;
    box-sizing: border-box;
    width: 200px;
    font-size: 14px;
    font-weight: bold;
    font-family: "OpenSans-Bold",Helvetica,Arial,sans-serif;
    color: #444;
    vertical-align: middle;
    position: relative;
    padding-left: 30px;
    padding-right: 30px;*/
}
.clients .client_choose{
	position: absolute;
    left: 5px;
    top: 9px;
    cursor: pointer;
}
.clients .client_clear{
	position: absolute;
    top: 9px;
    right: 1px;
    cursor: pointer;
}
.clients .client_current{
	height: 38px;
    line-height: 38px;
    font-family: "OpenSans-Bold",Helvetica,Arial,sans-serif;
    font-weight: bold;
    font-size: 12px;
}

.table .sort_arrow{
	position: absolute;
    bottom: 5px;
    left: calc(50% - 5px);
}

.clientphones_wrap, .clients_wrap, .clientphonenumwrap{
	opacity: 0;
	margin-left: 7px;
	transition: opacity 0.25s linear 0s;
	display: none;
}

.bigdrop{
	width: 300px !important;
}

.loading{
	display: inline-block;
	background-position: 5px 8px;
    background-repeat: no-repeat;
	padding-left: 30px;
}

.diag_wrap{
	margin-top: 20px;
}
.canvascont{
	margin-left: 70px;
	display: inline-block;
}
.canvascont:first-child{
	margin-left: 0;
}

.report_table{
	margin-top: 20px;
}

.daterangeitems{
	font-size: 0px;
    margin-bottom: 8px;
}

.formreport{
	margin: 15px 0;
}

.interval{
	margin-top: 25px;
}

.filter_line {
    /*margin: 20px 0px;*/
}
.filter_field_wrap{
	margin-left: 20px;
	display: inline-block;
}
.filter_field_wrap:first-child{
	margin-left: 0;
}

.call_dur_wrap{
	display: inline-block; 
	vertical-align: middle;
}
.call_dur_wrap .call_dur_input{
	font-weight: bold;
    font-size: 12px;
    text-shadow: none;
    text-transform: uppercase;
	text-align: center;
	font-family: "OpenSans-Bold",Helvetica,Arial,sans-serif;
	color: #444;
	text-align: center !important;
	
	width: 79px;
    box-sizing: border-box;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    border-radius: 2px;
    border: 1px solid #aaa;
    padding: 0 8px;
	
	transition:  background-color 0.25s linear 0s;
}
.call_dur_wrap .call_dur_input:hover{
	background-color: #dddee1;
	transition:  background-color 0.25s linear 0s;
}

.call_dur_type_select_wrap{
	display: inline-block;
}

.call_dur_block {
	display: none;
}

.open_line_btn {
	height: 40px;
	width: 40px;
	box-shadow: 0 0 0 1px #c6cdd3 inset;
	border-radius: 2px;
	cursor: pointer;
	display: inline-block;
	background-color: #ecedef;
	vertical-align: middle;
    margin-right: 12px;
	position: relative;
}
.open_line_btn:before {
	content: "";
	height: 19px;
	width: 19px;
	display: inline-block;
	background-image: url(../img/iconsprite.png);
	background-position: -633px 1px;
	position: absolute;
	top: 10px;
    left: 10px;
    opacity: 0.6;
}
	
/* print */
@media print {
	.table table td, .table table th{
		border: #000 1px solid;
		padding: 2px 5px;
		color: #000;
		border-radius: 0px;
		background-image: none;
		background-color: transparent;
	}
	.table table th{
		padding-bottom: 20px;
	}
	.table table th:nth-child(n+2)::before{
		content: "";
		display: none;
	}
	.table table tr:nth-child(n+2){
		border-bottom: solid 0px #edeef0;
	}
	.table table td:nth-child(n+2){
		border-left: solid 0px #edeef0;
	}
	.table h2{
		color: #4f4f4f;
	}
}